python-dotenv==1.0.0
elevenlabs==1.7.0
streamp3==0.1.12
daily-python==0.3.1
openai==1.0.0b1
google-cloud-speech==2.21.0
flask==3.0.0
flask_cors==4.0.0
gunicorn==21.2.0
Flask-AutoIndex==0.6.6
onnxruntime==1.16.1
librosa==0.10.1
ffmpeg-python==0.2.0
numpy==1.*